.products{
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  flex-grow: 1;
}
.product-offer{
  background-color: lightgreen;

}
.product-standard{
  background-color: lightgray;
}
.product-premium{
  background-color: gold;
  flex-grow: 2;
}