.products{
  background-color: white;
  display: flex;
  height: 1200px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-top;
}
.product-offer{
  background-color: lightgreen;
}
.product-standard{
  background-color: lightgray;
}
.product-premium{
  background-color: gold;
}